@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
html,
body {
    color: MintCream;
    background-color: #06283D;
    font-family: "Montserrat",sans-serif;
}

h1 {
    color: pink;
    text-align: center;
    font-weight: bolder;
    font-size : 32px;
}

.responsive {
    width: 100%;
    height: auto;
}
.responsive2{
    width: 100%;
    max-width: 75px;
    height: auto;
}
.logo{
    background-color: transparent;
    border:0cm;
    cursor: pointer;
}
.centerImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 75px;
    height: auto;
}
h3{
    display: inline;
}
a:link{
    color:antiquewhite;
}
address{
    display:inline-block;
    margin-right:10px;
    font-weight: bold;
    font-size: large;
}
