@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,500;1,900&display=swap');



html,
body {
    color: #DFF6FF;
    background-color: #06283D;
    font-family: Montserrat, Helvetica, sans-serif;

}

.topnav {
    font-size: bold;
    overflow: hidden;
}

.topnav a {
    float: right;
    color: #DFF6FF;
    text-align: center;
    font-weight: 500;
    padding: 0.5vw 2vw;
    text-decoration: none;
    font-size: 1.4vw;
    position: relative;
    top: 0.6vw;
}

.topnav a:hover {
    border-bottom: 3px solid #1363DF;
}

.topnav a.active {
    border-bottom: 3px solid #1363DF;
}

h1 {
    color: #DFF6FF;
    text-align: center;
    font-weight: 900;
    font-family: Montserrat, sans-serif;
    font-size: 6.5vw;
}

.leftTitle {
    position: relative;
    left: 3px;
    float: left;
}

.headerImg {
    float: left;
    width: 30vw;
    height: auto;
}

.header1 {
    font-size: 2.2vw;
    display: inline-flex;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    color: #47B5FF;
    position: relative;
    top: -1.5vw;
    right: 26.25vw;

}

.subHeader {
    font-weight: 300;
    font-size: 2.2vw;
    ;
    text-align: center;
    position: relative;
    top: -3.75vw;
    letter-spacing: 0.125vw;
}

.footer {
    color: antiquewhite;
    font-weight: 500;
    text-align: center;
    position: relative;
    font-size: 1.5vw;
    top: 1.75vw;
}

.responsive {
    width: 100%;
    height: auto;
}

.responsive2 {
    width: 100%;
    max-width: 2vw;
    height: auto;
    padding: 1px;
    position: relative;
    bottom: -1vw;
}

.logo {
    background-color: transparent;
    border: 0cm;
    cursor: pointer;
}

.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: auto;
}

.flex {
    display: flex;
    justify-content: center;
}

.centerGr {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botGr {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -15%);
}

h3 {
    display: inline;
    padding: 5px;
}

a:link {
    color: #DFF6FF;
}

address {
    font-weight: 300;
    font-size: 1.1vw;
}
