@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,500;1,900&display=swap');



html,
body {
    color: #DFF6FF;
    background-color: #06283D;
    font-family: Montserrat, Helvetica, sans-serif;

}

.topnav {
    font-size: bold;
    overflow: hidden;
}

.topnav a {
    float: right;
    color: #DFF6FF;
    text-align: center;
    font-weight: 500;
    padding: 5px 26px;
    text-decoration: none;
    font-size: 22px;
    position: relative;
    top: 0.6vw;
}

.topnav a:hover {
    border-bottom: 3px solid #1363DF;
}

.topnav a.active {
    border-bottom: 3px solid #1363DF;
}

.leftTitle {
    position: relative;
    left: 3px;
    /*float: left;*/
}

.headerImg a{
    float: left;
    width: 110px;
    height: auto;
    position: relative;
    top: -7px;
    left: -20px;
    
}
.headerImg a:hover{
    border: none ;
}
.header1 a{
    font-size: 30px;
    float: right;
    display: inline-flex;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    color: #47B5FF;
    position: relative;
    top: 5px;
    left:-70px;

}
.header1 a.active{
    border-bottom: none;
    color: #47B5FF;
    display: inline-flex;
}
.subHeader {
    font-weight: 300;
    font-size: 31px;
    ;
    text-align: center;
    position: relative;
    top: -3.75vw;
    letter-spacing: 0.125vw;
}

.footer {
    color: antiquewhite;
    font-weight: 500;
    text-align: center;
    position: relative;
    font-size: 18px;
    top: 25px;
}

.responsive {
    width: 100%;
    height: auto;
}

.responsive2 {
    width: 100%;
    max-width: 38px;
    height: auto;
    padding: 1px;
    position: relative;
    bottom: -12px;
}

.logo {
    background-color: transparent;
    border: 0cm;
    cursor: pointer;
}

.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: auto;
}

.flex {
    display: flex;
    justify-content: center;
}
.flex a{
    font-size: 15px;
}
.centerGr {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botGr {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -15%);
}

h1 {
    color: #DFF6FF;
    text-align: center;
    font-weight: 900;
    font-family: Montserrat, sans-serif;
    font-size: 100px;
}

h2 {
    color: #DFF6FF;
    text-align: center;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    font-size: 40px;
}
h2.blocktext{
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

h3 {
    color: #DFF6FF;
    font-weight: 500;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    text-align: justify;

}

a:link {
    color: #DFF6FF;
}

address {
    font-weight: 300;
    font-size: 1.1vw;
}

* {
    box-sizing: border-box;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #DFF6FF;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    ;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #1363DF;
    border: 4px solid #47B5FF;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #1363DF;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #1363DF;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #1363DF;
    border-width: 10px 10px 10px 0;
    border-color: transparent #1363DF transparent transparent;
}

.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: #1363DF;
    position: relative;
    border-radius: 6px;
}

.subCon1 {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    position: relative;
    top: -30px;
}

.subCon2 {
    text-align: center;
    font-size: 20px;
    position: relative;
    top: -30px;
}

@media screen and (max-width: 600px) {
    .topnav a{
        font-size: 11px;
        padding: 4px 13px;
    }
    h1{
        font-size: 50px;
    }
    .headerImg a{
        width: 60px;
        left: -10px;
    }
    .header1 a{
        font-size: 15px;
        top: 2px;
        left: -37px;
    }
    .subHeader{
        font-size: 16px;
    }
    .footer{
        font-size: 14px;
        top: 10px;
    }
    .responsive2{
        max-width: 28px;
        bottom: -7px;
    }
    .flex a{
        font-size: 12px;
    }
    h2 {
        font-size: 18px;
        display: inline-block;
    }
    h2.blocktext{
        width: 25.5em;
    }

    h3 {
        font-size: 13px;
    }
    .subCon1{
        font-size: 17px;
    }
    .subCon2{
        font-size: 13px;
    }
}